<html>
<head>
    <title>Main Splash Page</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <ul>
        <li><a href="/">Welcome</a></li>
        <li><a href="/content">Weather</a></li>
    </ul>
    <div class="container">
        {% if content == "weather" %}
            <div>
                <canvas id="myChart"></canvas>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            
            <script>
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            const unit = urlParams.has('unit')  ? urlParams.get('unit') : 'Imperial'
            const timespan = urlParams.has('timespan')  ? urlParams.get('timespan') : 'Daily'

            fetch("/api/weather_timeseries", {
            method: 'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({'unit': unit, 'timespan': timespan})
            })
            .then(res => res.json())
            .then(res => {
                return {
                    times: res.map(i => i.time),
                    temps: res.map(i => i.temp),
                    winds: res.map(i => i.wind_speed),
                    rains: res.map(i => i.precip)
                }
            })
            .then(res => {
                console.log(res)

                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    type: 'line',
                    data: {
                    labels: res.times,
                    datasets: [
                        {
                            label: 'Average Temperature',
                            data: res.temps,
                            borderWidth: 1
                        },
                        {
                            label: 'Average Wind Speed',
                            data: res.winds,
                            borderWidth: 1
                        },
                        {
                            label: 'Average Rainfall',
                            data: res.rains,
                            borderWidth: 1
                        },
                    ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
            </script>

            <form>
                <div class="fieldsetContainer">
                    <fieldset>
                    <legend>Please select your preferred contact method:</legend>
                    <div>
                        <input type="radio" id="unitChoice1" name="unit" value="Imperial" />
                        <label for="unitChoice1">Imperial (F, mph, in)</label>
                
                        <input type="radio" id="unitChoice2" name="unit" value="Metric" />
                        <label for="unitChoice2">Metric (C, kph, mm)</label>
                    </div>
                    </fieldset>

                    <fieldset>
                        <legend>Please select your preferred contact method:</legend>
                        <div>
                            <input type="radio" id="spanChoice1" name="timespan" value="Daily" />
                            <label for="spanChoice1">Daily</label>
                    
                            <input type="radio" id="spanChoice2" name="timespan" value="Hourly" />
                            <label for="spanChoice2">Hourly</label>
                        </div>
                    </fieldset>

                    <div>
                        <button type="submit">Submit</button>
                    </div>
                </div>


            </form>

        {% else %}
        <div class="contact">
            <h1>Page by: Michael Kolbeck</h1>
            <h4>Email: Michael.B.Kolbeck@gmail.com</h4>
            <h4>Phone: 1-630-991-8811</h4>
            <h4>LinkedIn: <a href="https://www.linkedin.com/in/michael-kolbeck-8b67a11b">linkedin.com/in/michael-kolbeck-8b67a11b</a></h4>
        </div>
        {% endif %}
    </div>
</body>
</html>